.All-Hackathons{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    // width: 100%;
    border-bottom: 3px solid purple;
    padding-bottom: 15px;
    margin-bottom: 15px;
}