#brand-title{
     font-weight: 1000;
     word-spacing: 1pt;
     font-size: 24px;
     background: -webkit-radial-gradient(circle, rgb(73, 103, 235) 21%, rgb(178, 56, 240) 63%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

#brand-Login {
     font-weight: bold;
     word-spacing: 1pt;
     font-size: 1.2rem;
     background: -webkit-radial-gradient(circle, rgb(73, 103, 235) 21%, rgb(178, 56, 240) 63%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}