#root>div>div>div>div>div>div>div.makeStyles-contentWrapper-303>div>div>div:nth-child(1) {
    overflow: hidden!important;
}

#root>div>div>div>div>div>div>div.makeStyles-contentWrapper-303>div>div>div:nth-child(2) {
    overflow: hidden !important;
}

#root>div>div>div>div>div>div>div.makeStyles-contentWrapper-531>div>div>div:nth-child(1) {
    overflow: hidden !important;
}

#root>div>div>div>div>div>div>div.makeStyles-contentWrapper-531>div>div>div:nth-child(2) {
    overflow: hidden !important;
}

// #root>div>div>div>div>div.MuiGrid-root.makeStyles-grid-285.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-8.MuiGrid-grid-lg-12.MuiGrid-grid-xl-12>div>div.makeStyles-contentWrapper-523>div>div>div:nth-child(1) {
//      overflow: hidden !important;
// }

.makeStyles-contentWrapper-295{
    overflow: hidden !important;
}

// #root>div>div>div>div>div>div>div.MuiTabs-root.makeStyles-root-294>div>div>button:nth-child(1)>span.MuiTab-wrapper.makeStyles-tabWrapper-311{
//     color: wheat !important;
// }

// #root>div>div>div>div>div>div>div.MuiTabs-root.makeStyles-root-294>div>div>button:nth-child(2)>span.MuiTab-wrapper.makeStyles-tabWrapper-311{
//     color: wheat !important;
// }

#machine-hack-brand{
    font-weight: 1000;
    word-spacing: 1pt;
    font-size: 45px;
    background: -webkit-radial-gradient(circle, rgba(73, 212, 235, 1) 21%, rgb(178, 56, 240) 63%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}