#Main-header{
    font-size: 27px;
    font-weight: bolder;
    background: -webkit-radial-gradient(circle, rgba(73, 212, 235, 1) 21%, rgba(125, 7, 184, 1) 48%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}